* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	font-size: 16px;
}

body {
	background-color: #F4EEE2;
}

a:visited, a:link {
    color: #000000;
}

/* Navigation */

.nav-container {
    background: #F4EEE2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
height: 175px;
text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-container li {
    display: inline-block;
}

.nav-container a {
    text-decoration: none;
    width: 150px;
    padding: 40px;
    display: block;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
}

.nav-items {
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #000000;
}

.navbar-links {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #000000;

    transition: all 0.3s ease;
	letter-spacing: 2px;
}

.navbar-links:hover {
    color: #A277EA;
	transition: all 0.3s ease;
}

.navbar-links::after {
	content: '';
	width: 0;
	height: 1px;
	background-color: #000000;
	margin: auto;
	display: block;
	transition: 0.4s;
	text-align: center;
}

.navbar-links:hover::after {
	width: 100%;
	transition: width 0.4s linear;
}

.logo {
    padding: 15px;
    align-items: center;
}

.nav-icon {
	letter-spacing: 10px;
	font-size:15px;
	cursor: pointer;
}

.nav-btn {
	background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 24px;
width: 80px;
padding: 1px;
cursor: pointer;
text-align: center;
text-decoration: none;
color: #fff;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow, transform;
transition-property: box-shadow, transform;
}

.nav-btn:hover, .nav-btn:focus, .nav-btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #A277EA;
}

@media(max-width:1100px) {
	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-items {
		position: fixed;
		left: -100%;
		top: 110px;
		gap: 0;
		flex-direction: column;
		background-color: #F4EEE2;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.navbar-links {
		margin: 16px 0;
	}

	.nav-items.active {
		left: 0;
	}
}

/* Hero Section */

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.image {
	width: 100%;
	height: 800px;
	object-fit: cover;
	object-position: center center;
}

.hero-text1 {
    font-family: 'GFS Didot';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 120px;
/* identical to box height */

text-align: center;

color: #000000;
padding-top: 250px;
}

.to-top {
	background: #A277EA;
	position: fixed;
	bottom: 16px;
	right:32px;
	width:50px;
	height:50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:32px;
	color:#1f1f1f;
	text-decoration: none;
	opacity:0;
	pointer-events: none;
	transition: all .4s;
  }
  
  .to-top.active {
	bottom:32px;
	pointer-events: auto;
	opacity:1;
  }

/* Footer */

.social-icons {
	text-align: center;
	padding-top: 400px;
	letter-spacing: 5px;
	font-size: 30px;
}

.icon {
	cursor: pointer;
}

.footer {
	text-align: center;
	padding-top: 5px;
}

.footer-text {
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;

color: #000000;
}

